@font-face {
	font-family: 'Pacifico Regular';
	src: url(../fonts/Pacifico/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
}
@font-face {
	font-family: 'Raleway Light';
	src: url(../fonts/Raleway/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}
@font-face {
	font-family: 'Raleway SemiBold';
	src: url(../fonts/Raleway/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}
h1 {
   	font-family: 'Pacifico Regular';
	font-size: 63px; 
}
h3 {
	font-family: 'Raleway SemiBold';
	font-size: 23.33px;
}
p {
	font-family: 'Helvetica Neue';
	font-size: 16px;
}

.page {
	background-color: #ffffff;
}

.top-img {
	height: 650px;
	width: 1600px;
	margin: 0 auto;
	background-image: url('../img/large-banner-image.png');
}

.top-title {
	margin: 100px 640px 0px 640px;
	width: 260px;
	display: inline-grid;
	grid-template-columns: 90px auto;
}

.top-logo {
	padding-top:10px;
}

.top-text {
	padding-top:10px;
}

.sub-title {
	font-size: 30px;
	padding-top: 50px;
    padding-left: 500px;
}

.iphone {
    width: 460px;
	height: 750px;
    margin: 125px 535px;
	background-image: url('../img/iphone.png');
	display:grid;
	grid-template-rows: 250px 100px 100px auto;
}
.dots {
   width: 26px;
    height: 26px;
}

.middle {
	width: 1600px;
	height:500px;
	font-family: 'Pacifico Regular';
	margin: 0 auto;
	background-color: transparent;
}

.inner-middle {
	width: 1180px;
	margin: 0 130px;
	display: grid;
	grid-template-columns: auto 420px auto;
	grid-template-rows: 180px auto;
}

.angled-line {
	width: 137px;
    height: 112px;
    background-image: url(../img/angled-line.png);
    background-repeat: no-repeat;
    margin: 125px 270px;
}

.left-middle-top {
	width: 320px;
	padding-left: 100px;
	padding-top: 50px;
	justify-self: start;
}
.right-middle-top {
	width: 320px;
	padding-top: 50px;
	justify-self: end;
}

.left-middle-bottom {
	width: 320px;
	padding-left: 100px;
	padding-top: 40px;
	justify-self: start;
}
.right-middle-bottom {
	width: 320px;
	padding-top: 40px;
	justify-self: end;
}

.middle-p {
	padding-top: 25px;
	line-height: 150%;
    color: #a6a6a6;
}

.middle-gray {
	width: 1600px;
	height:425px;
	font-family: 'Pacifico Regular';
	margin: 0 auto;
	background-color: #e3e3e3;
}

.inner-middle-gray {
	width: 1180px;
	height: 425px;
	margin: 0 170px;
	display: grid;
	grid-template-columns: 540px 500px;
	justify-content: space-between;
	align-items: center;
}

.wdw-btn {
	background-image: url('../img/windows.png');
	width: 68px;
	height: 68px;
}

.get-the-app {
	height: 310px;
}
.tv {
	background-image: url('../img/video-image.png');
	width: 580px;
    height: 310px;	
}

.sns1 {
	margin-top: 20px;
	width: 245px;
	display: inline-grid;
	grid-template-columns: auto auto auto;
	justify-content: space-between;
}

.tv-play {
	display: inline-grid;
	grid-template-columns: 95px auto;
	grid-gap: 15px;
}

.play-button {
	margin-top: 244px;
	justify-self: end;
}

.bottom-white {
	width: 1600px;
	height:690px;
	font-family: 'Pacifico Regular';
	margin: 0 auto;
	background-color: #ffffff;
	padding-top: 24px;
}

.testo {
	text-align: center;
	width: 860px;
	height: 50px;
	margin: 0 auto 0 auto;
	display: grid;
	grid-template-rows: 50px 25px;
}

.people {
	background-image: url('../img/people.png');
	width: 1600px;
	height: 318px;
}

.active-person {
	width: 80px;
	height: 160px;
	margin: 80px 915px;
	background-image: url('../img/active-person.png');
	background-repeat: no-repeat;
	background-position: 0% 100%; 
}

.say-hi {
	padding-top: 45px;
	text-align: center;
	width: 580px;
	height: 75px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 50px 23px 75px;
}

.sns2 {
	justify-self: center;
	align-self: center;
	width: 260px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.footer {
	width: 1600px;
	height:125px;
	margin: 0 auto;
	background-color: #e3e3e3;
	display: grid;
}

.footer-content {
	padding-top: 63px;
	justify-self: center;
	text-align: center;
	width: 580px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}
